@font-face {
  font-family: "Founders Grotesk";
  src: url('../src/fonts/founders-grotesk-medium.woff');
}

@font-face {
  font-family: "Founders Grotesk Light";
  src: url('../src/fonts/founders-grotesk-light.woff');
}

a {
  color: #000;
}

* {
  list-style-type: none;
  text-decoration: none;
  letter-spacing: -.8px;
  font-synthesis: none;
}

body {
  margin: 0;
  font-family: 'Founders Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}